
.Rhistory

.Rproj.user/BC4C44B8/build_options

*.pper

.Rproj.user/BC4C44B8/persistent-state

.Rproj.user/BC4C44B8/saved_source_markers

.Rproj.user/BC4C44B8/sdb/prop/1697C662

.Rproj.user/BC4C44B8/sdb/prop/1C2CBD3D

.Rproj.user/BC4C44B8/sdb/prop/E84A865E

.Rproj.user/BC4C44B8/sdb/prop/INDEX

.Rproj.user/BC4C44B8/sdb/s-E1A8682F/lock_file

.Rproj.user/BC4C44B8/vcs_options

*.Rproj

.Rproj.user/BC4C44B8/cpp-definition-cache
.Rproj.user
